@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Roboto:400,500,700&display=swap");

/*전체설정*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

image {
  border: none;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: #1f1618;
  color: #fff;
  overflow-x: hidden;
}

/*mainBackground*/
.mainbackground {
  background: url(/img/yale_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 38%;
  height: 1300px;
}

/*header 배열설정*/

.logo {
  float: left;
  width: 20%;
}

.menu {
  float: left;
  width: 65%;
  box-sizing: border-box;
}

.hamburger {
  display: none;
}


.material-icons-outlined { font-size: 32px;}

header {
  padding-top: 1%;
}

/*logo 상세설정*/
.logo a {
  display: block;
  font-weight: 700;
  font-family: "Cinzel", serif;
  font-size: 20pt;
  letter-spacing: 1.5px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  text-align: center;
}

/*메뉴 */
.menu {
  font-size: 14pt;
  letter-spacing: 1px;
}

.menu ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.menu ul:after {
  display: block;
  clear: both;
  content: "";
}
.menu > ul > li {
  float: left;
  width: 20%;
}

.menu > ul > li {
  position: relative;
}

.menu ul li:hover {
  background: #6d594e;
}

.menu ul li ul:after {
  display: block;
  clear: both;
  content: "";
}

.menu ul li ul {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 100%;
}

.menu ul li a {
  text-align: center;
  display: block;
  padding: 10px;
}
.lnb li a {
  font-size: 13px;
}

.menu > ul > li:hover ul {
  display: flex;
  background: #6d594e;
}

.menu ul li ul li:hover {
  background: #867369;
}

/*form*/

.search {
  display: flex;
  padding-top: 8px;
}

.fas fa-search {
  color: white;
  position: absolute;
  z-index: 100;
  right: 160px;
}

.searchbar {
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
  width: 140px;
  color: white;
  font-size: 1.063rem;
}

/*department 배열설정

.department:after {
  display: block;
  clear: both;
  content: "";
}

.department__aside {
  float: left;
  width: 20%;
}

.department--slideimage {
  float: left;
  width: 80%;
}

.department--slideimage:after {
  display: block;
  clear: both;
  content: "";
}
.department--slideimage li {
  float: left;
  width: 25%;
}

.department {
  margin-top: 35%;
}
*/
/*department__aside 상세설정*/
.department {margin-top: 45%;}
.department__aside { display: flex;
                    justify-content: center;
                    align-items: center;
                     }

.department__aside h2 {
  font-size: 20pt;
  font-weight: 700;
  letter-spacing: 2px;
  margin-right: 1.5%;
}

.department__aside p {
  letter-spacing: 0.5px;
}

.department__aside a {
  display: inline-block;
  margin-top: 16%;
}

.department__aside a:hover {
  background: #6d594e;
  border-radius: 90%;
}

.master {display: none;}

/*슬라이드 이미지*/
.department__image{
                        display: flex;
                        justify-content: space-around;
                        margin-top: 4%;
}
.department__image li{position: relative;
                      overflow: hidden;}

.department__image img {max-width: 250px;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1); 
  -o-transform:scale(1);  
  transform:scale(1);
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  transition:.3s;}

  .department__image li:hover img{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
  }


.department__image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-size: 14pt;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.5),
    0px -4px 10px rgba(255, 255, 255, 0.5);
}

/*main 백그라운드 이미지 조각 설정*/
.main__piece {
  position: absolute;
  z-index: -100;
  top: 855px;
}

/*news 설정 */
.news ul:after {
  display: block;
  clear: both;
  content: "";
}
.news li:nth-child(1) {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.news li:nth-child(2) {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.news li:nth-child(3) {
  float: left;
  width: 32%;
}

.news h2 {
  font-size: 20pt;
  text-align: center;
}

.news ul {
  margin-top: 5%;
  margin-bottom: 5%;
}

.news a {
  position: relative;
  display: block;
}

.news img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}


.news a:hover {
  opacity: 0.7;
}

.news__text p {
  color: #fff;
  position: absolute;
  top: 77%;
  background-color: #492f22;
  font-size: 11pt;
  font-weight: bold;
  letter-spacing: 1px;
  width: 70%;
  padding: 10px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.news__text span {
  display: block;
  padding-top: 30px;
  padding-left: 10px;
  height: 100px;
  color: black;
  font-size: 10pt;
  background-color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.news > .more {
  text-align: center;
}

/*more box 설정*/

.more a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 20px 55px;
  font-weight: 700;
  letter-spacing: 2px;
}
.more a:hover {
  background: #6d594e;
}

/*events*/

.events__boxAfter:after {
  display: block;
  clear: both;
  content: "";
}
.events__exhibition {
  float: left;
  width: 49%;
  margin-right: 2%;
}
.events__performance {
  float: left;
  width: 49%;
}

.events {
  margin-top: 10%;
  margin-bottom: 5%;
}

.events h2 {
  font-size: 20pt;
  text-align: center;
  margin-bottom: 5%;
}

.events__box a {
  display: block;
  padding: 3% 0;
  padding-left: 2%;
}
.events__box a:hover {
  background: #6d594e;
}

.events__box a:after {
  display: block;
  clear: both;
  content: "";
}
.events__box img {
  float: left;
  width: 40%;
}
.events__box ul {
  float: left;
  margin-top: 3%;
  margin-left: 2%;
  width: 58%;
}

.events > .more {
  margin-top: 5%;
  text-align: center;
}

/*events 박스 선 설정*/

.events h3 {
  border-bottom: 2px solid #fff;
}
.events__box {
  border-bottom: 2px solid #fff;
}
.events__box-top {
  border-bottom: 2px solid #fff;
}

/*events text*/
.events__text {
  padding-left: 5px;
  box-sizing: border-box;
  font-size: 11pt;
}

.events__text b {
  letter-spacing: 1px;
}

.events__text p {
  margin-top: 5%;
  font-size: 9pt;
  letter-spacing: 1px;
}

.eevents__text span {
  display: inline-block;
  margin-top: 2.5%;
  letter-spacing: 1px;
}

/*Alumni 간격설정*/

.alumni__after:after {
  display: block;
  clear: both;
  content: "";
}
.alumni__after aside {
  float: left;
  width: 60%;
}

.alumni__after article {
  float: left;
  width: 40%;
}

.alumni article {
  margin-top: 5%;
}

.alumni__text__name {
  display: block;
  margin-bottom: 5%;
  font-size: 14pt;
}

.alumni__text__name p {
  display: inline-block;
}

.alumni span {
  letter-spacing: 1px;
  display: block;
}

.alumni img {
  width: 500px;
}

.alumni h2 {
  font-size: 20pt;
  text-align: center;
  margin-bottom: 5%;
}

.alumni {
  margin-top: 10%;
  margin-bottom: 5%;
}

#alumni__button__more {
  margin-top: 20%;
}

/*footer*/

footer {
  margin-top: 5%;
}

.footer__nav__top__wrap ul:after {
  display: block;
  clear: both;
  content: "";
}
.footer__nav__top__wrap li {
  float: left;
  width: 25%;
}

.footer__nav__top__wrap {
  margin-bottom: 2.5%;
}

footer nav ul {
  padding-top: 20px;
}

/*footer sns/onthissite/maincampuses after 정렬*/
.footer__nav__middle__wrap:after {
  display: block;
  clear: both;
  content: "";
}
.middle__wrap__sns {
  float: left;
  width: 20%;
}
.middle__wrap__onthissite {
  float: left;
  width: 60%;
}

.middle__wrap__maincampuses {
  float: left;
  width: 20%;
}

/*footer sns after 정렬*/
.middle__wrap__sns ul:after {
  display: block;
  clear: both;
  content: "";
}

.middle__wrap__sns li {
  float: left;
  width: 32%;
  box-sizing: border-box;
}

/*footer onthissite after 정렬*/
.middle__wrap__onthissite ul:after {
  display: block;
  clear: both;
  content: "";
}

.middle__wrap__onthissite li {
  float: left;
  width: 20%;
}

/*sns 설정*/
.footer--sns i {
  font-size: 20pt;
}

/*footer copyright 설정*/

.footer__copyright {
  padding-top: 5%;
  padding-bottom: 2.5%;
}

.footer__copyright p {
  display: inline-block;
  font-family: "Cinzel", serif;
}

.footer__copyright span {
  padding-left: 10px;
}

@media (min-width:320px) and (max-width:768px) {

/*header 배열설정*/

header, .department, main, footer {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;}


header{display: flex;}

.logo{width: 100%;
      margin-top: 3%;
}

.department {margin-top: 75%;}

.menu, .search{display: none;}

/*logo 상세설정*/
.logo a {
  display: block;
  font-weight: 700;
  font-family: "Cinzel", serif;
  font-size: 15pt;
  position: relative;
}

.hamburger {
  display: flex;
  position: absolute;
  top: 3%;
  right: 5%;
}

.department__aside {
  display: none;
}

.master {display: block;
    font-size: 20px;
    text-align: center;
  
}

.department__image {
  height: 500px;
  flex-direction: column;
  align-items: center;
  margin-top: 0%;
}

.department__image img{
  width: 250px;
  height: 300px;
  transform: rotate(90deg);
}

.department__image p {
  font-size: 14px;
 
}

.mainbackground {
  height: 800px;
}

.main__piece {display: none;}

.more a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}
.more a:hover {
  background: #6d594e;
}

main{margin-top: 40%;}

.news h2 {
  font-size: 20px;
}

.news ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  height: 600px;
  margin-left: 7%;

}

.news li {
  width: 90%;
  height: 180px;
  
}

.news li:nth-child(1) {
  width: 90%;
  margin-right: 0;
}
.news li:nth-child(2) {
  width: 90%;
  margin-right: 0;
}
.news li:nth-child(3) {
  width: 90%;
  margin-right: 0;
}

.news img { position: absolute;
            width: 150px;
            height: 180px;
 
}

.news__text { 
  position: absolute;
  top: 0;
  left: 150px;  
 
}

.news__text p {
  top: 0;
  width: 200px;
  padding: 10px 10px;
  font-size: 14px;
}


.news__text span {
  width: 200px;
  height: 155px;
  margin-top: 25px;
  font-size: 13px;
}


.events__boxAfter {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-bottom: 10%;
}

.events h2 {
  font-size: 20px;
}
.events h3 {
  border-bottom: 2px solid #fff;
  font-size: 16px;
}

.events__exhibition {
  width: 90%;
}
.events__performance {
  margin-top: 10%;
  width: 90%;
}




/*Alumni 간격설정*/

.alumni__after {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
}
.alumni__after aside {
  width: 90%;
}

.alumni__after article {
  width: 90%;
}

.alumni article {
  margin-top: 5%;
}

.alumni__text__name {
  text-align: center;
  font-size: 14pt;
  letter-spacing: 1px;
}

.alumni__text__name p {
  display: inline-block;
}

.alumni span {
  display: none;
}

.alumni img {
  width: 100%;
}

.alumni h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5%;
}

.alumni {
  margin-top: 10%;
  margin-bottom: 5%;
}

#alumni__button__more {
  margin-top: 5%;
  text-align: center;
}

footer {margin-left: 7%;
        font-size: 14px;}

.footer__nav__top__wrap, .footer__nav__middle__wrap, .footer__copyright {width: 90%;}


.footer__nav__middle__wrap {
  display: block;
  clear: both;
  content: "";
  height: 100px;
}

.footer__nav__middle__wrap p {
  font-size: 15px;
}

.middle__wrap__sns {
  float: left;
  width: 40%;
  height: 100%;
}

.middle__wrap__sns li {
  font-size: 20px;
}

.middle__wrap__onthissite {
  float: left;
  width: 60%;
  height: 100%;
}

.middle__wrap__onthissite li {
  float: left;
  width: 40%;
}


.middle__wrap__maincampuses {
  display: none;
}

}



/*##############################1280px이상일때##############################*/
@media (min-width: 1280px){

	header, .department, main, footer {width: 1040px;
									                   margin-right: auto;
									                    margin-left: auto;}

/*header 배열설정*/

header:after{display: block; clear: both; content: ""}

.logo{float: left;
	  width: 20%;
	  }

.menu{float: left;
	  width: 70%;
	  box-sizing: border-box;}

header>input{width: 5%;} 

/*5%로 줘야 안떨어짐..왜?*/

/*logo 상세설정*/
.logo a{display:block;
		font-size: 16pt;
		letter-spacing: 1.5px;
}

/*menu 설정*/
.menu{font-size: 12pt;
	  letter-spacing: 1px;}



/*alumni 설정*/
.alumni--img{float: left;
			width: 70%;
			height: auto;
			}


.alumni--article{float: left;
				width:30%}

}

/*##############################1680px이상일때##############################*/
@media (min-width: 1600px){

	header, .department, main, footer{width: 1440px;
									  margin-right: auto;
									  margin-left: auto;}

}